.libcanvas-app-simple {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    cursor: none;
}

#container {
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 10px;
}

#setka {
    position: absolute;
    left: 10px;
    top: 10px;
}

canvas [data-name="coord"] {
    cursor: none;
}