.libcanvas-app-simple {
    position: absolute;
    z-index: -3;
    cursor: none;
}

#container {
    position: absolute;
    z-index: 0;
    top: 10px;
    left: 10px;
}

#setka {
    position: absolute;
    left: 10px;
    top: 10px;
}

.libcanvas-app {
    cursor: crosshair;
    display: inline-block;
}